<%- include ('../includes/header.ejs') %>
    <div class="container">
        <form action="/admin/edit-product" method="POST">

            <input type="hidden" name="id" value="<%= product._id %>">
             
            <div class="field">
                <label class="label">Product Image</label>
                <div class="control">
                    <input class="input" type="url" name="image" placeholder="www.google.com/images/1.jpg" required value="<%= product.image %>">
                </div>
            </div>


            <div class="field">
                <label class="label">Product Name</label>
                <div class="control">
                    <input class="input" type="text" name="title" placeholder="eg. Macbook Pro 2019" required value="<%= product.title %>">
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea name="description" class="textarea" id="" cols="5" rows="5" placeholder="eg. This is the best macbook"><%= product.description %></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Price</label>

                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" name="price" type="text" placeholder="eg. 100000" required value="<%= product.price %>">
                        <span class="icon is-small is-left">
                            RP
                        </span>
                    </p>
                </div>
            </div>

            <button class="button is-success" type="submit">
                <span>Save</span>
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
            </button>
        </form>
    </div>
<%- include ('../includes/footer.ejs') %>