<%- include ('../includes/header.ejs') %>
<div class="container">
    <% if (products.length > 0) { %>
        <h3 style="font-size: 24px;font-weight:bold; margin-bottom: 15px;">List of Product</h3>
        <div class="row">
            <% for(let product of products){ %>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card" style="margin-bottom: 30px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="<%= product.image %>" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><%= product.title %></p>
                                    <p class="subtitle is-6"><%= 'Rp.' + product.price %></p>
                                    <p><%= product.description %> </p>
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/admin/product/<%= product._id %>" class="card-footer-item">Edit</a>
                            <form action="/admin/delete-product" method="post" style="display: block;">
                                <input type="hidden" name="id" value="<%= product._id %>">
                                <button 
                                style="width: 50px; display: block; height: 100%"
                                class="button card-footer-item is-danger">
                                <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </footer>
                    </div>
                </div>
                <!-- <li><%=product.title%> : <%=product.price%></li> -->
            <% } %>
        </div>
    <% } else { %>
        <p>No Product</p>
    <% } %>
</div>
<%- include ('../includes/footer.ejs') %> 

