<%- include ('../includes/header.ejs') %>
    <div class="container">
        <% if (message.length > 0) { %>
            <% message.forEach(msg => { %>
                <div class="notification is-light <%= msg.type %> ">
                    <button class="delete"></button>
                    <%= msg.text %> 
                </div>
            <% }) %>
        <% } %>

        <form action="/reset-password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" required>
                </div>
            </div>

            <button class="button is-success" type="submit">
                <span>Reset Password</span>
                <span class="icon is-small">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </form>
    </div>
<%- include ('../includes/footer.ejs') %>